<html>
<head>
<title>Final Project</title>

<style>
	table {
    	font-family: arial, sans-serif;
    	border-collapse: collapse;
    	width: 100%;
	}

	td, th {
    	border: 1px solid #dddddd;
    	text-align: left;
    	padding: 8px;
	}

	tr:nth-child(even) {
	    background-color: #dddddd;
	}
    </style>
</head>
<body>
	<h2>User deleted?: {{status['result']}}</h2>
	<table>
		<tr>
			<ul>
	      		  <th><center><li><a href="/">Come back to index</a></li></center></th>
	      		  <th><center><li><a href="/show_users">Come back to users</a></li></center></th>
	     		</ul>
		</tr>	
	</table>
</body>

</html>