<html>

<head>
<title>Final Project</title>
<h2>Insert Kegs</h2>

<style>
	table {
    	font-family: arial, sans-serif;
    	border-collapse: collapse;
    	width: 100%;
	}

	td, th {
    	border: 1px solid #dddddd;
    	text-align: left;
    	padding: 8px;
	}

	tr:nth-child(even) {
	    background-color: #dddddd;
	}
    </style>
</head>
<body>
	<form method="POST">
		Keg_id: <input type="text" name="keg_id"><br>
		<input type="submit" value="Submit"><br>
	</form>

	<table>
		<tr>
			<ul>
			  <th><center><li><a href="/">Come back to index</a></li></center></th>
	     		</ul>
		</tr>	
	</table>
</body>

</html>