<html>

<head>
<title>Final Project</title>
<h2>Insert Users</h2>

<style>
	table {
    	font-family: arial, sans-serif;
    	border-collapse: collapse;
    	width: 100%;
	}

	td, th {
    	border: 1px solid #dddddd;
    	text-align: left;
    	padding: 8px;
	}

	tr:nth-child(even) {
	    background-color: #dddddd;
	}
    </style>
</head>
<body>
	<form method="POST">
		Username: <input type="text" name="username"><br>
		Fullname: <input type="text" name="fullname"><br>
		Email: <input type="text" name="email"><br>
		Password: <input type="text" name="password"><br>
		Nfc_Id: <input type="text" name="nfc_id"><br>
		User_Flow: <input type="text" name="user_flow"><br>
		<input type="submit" value="Submit"><br>
	</form>

	<table>
		<tr>
			<ul>
			  <th><center><li><a href="/">Come back to index</a></li></center></th>
	     		</ul>
		</tr>	
	</table>
</body>

</html>






